@header-spacing: -34px;

.res-nightmode, html[lang="dd"] {
  // Changes background color for everything
  body, body .content, .side, .flairselector, .linefield, 
  .icon-menu a, .side .leavemoderator, .side .leavecontributor-button, 
  .side .titlebox, .side .spacer .titlebox .redditname, .side .titlebox .flairtoggle, 
  .side .usertext-body .md ol, .side .usertext-body .md ol ol,
  .side .usertext-body .md ol ol li, .side blockquote, .modactionlisting table * {
    background-color: #080808;
  }
  
  // Visited links color change
  .entry a:visited { color: #007dc3; }
  .entry a:visited[href*="lol.eventvods.com"] { color: #007dc3; }
  .RES-keyNav-activeElement .entry a:visited[href*="lol.eventvods.com"] { color: #8ad; }

  // alien
  #header-img-a {
    border-right: 1px solid #080808;
    .bg-pos(0, @header-spacing * 2);
    &:hover { .bg-pos(0, @header-spacing * 3); }
  }

  // Header image

  #header-bottom-left { background: #02021a url(%%header%%) no-repeat right top!important; }

  // Moves userbar down below header image

  #header-bottom-right {
    background: url(%%gray%%);
    .bg-pos(0, @header-spacing * 2);
    a { color: #080808; }
  }

  .user {
    color: #080808;
    .userkarma { border-color: #080808; }
  }

  .separator { color: #ccc; }

  // RES-specific userbar tweaks
  #header-bottom-right.res-navTop {
    top: 145px;
    bottom: @header-spacing;
    line-height: 22px;
    padding-left: 5px;
    background: url(%%gray%%) 0px (@header-spacing * 2);
    border-radius: 0;
    border-left: 1px solid #080808;
    #userbarToggle {
      border-radius: 0;
      background: url(%%gray%%) 0px (@header-spacing * 2);
      border-right: 1px dotted #444;
      border-left: 1px solid #444;
      line-height: 28px;
      color: #080808;
    }
  }

  .link.last-clicked { overflow: hidden; }
  
  // Switches out default thumb for nightmode-friendly version
  .thumbnail { background: url(%%nightmode-sprites%%) 0px 1px no-repeat #080808; }

  // Collapsable in entries
  .entry {
    .tagline:first-of-type, time { color: #b4b47d!important; }
    .md h3 { margin-bottom: 8px; }
  }

  // Red text in posts
  .usertext-body h4 { color: #f23; font-weight: bold; }
  
  // Changes post border color to be visible
  .link .usertext-body .md, .side .linkinfo { border-color: #88f; }
  
  // tables
  .md table {
    * { border: 10px; }
    th { text-align: center; }
    thead { background-color: #333; }
    td, th { border-right: 1px solid #888; padding: 4px 8px; }
  }
  .side .md table { width:100%; }

  .md th { background-color: #101010; border-color: #101010; }
  
  // ALTERNATE ROW COLORS
  .md tr:nth-of-type(odd) { background: #181818; color: #dcdcdc; }
  .md tr:nth-of-type(even) { background: #222; color: #dcdcdc; }

  // ROW HOVER COLOR
  .md table tr:hover { 
    background-color: #7d7; 
    color: #080808;
    a { color: #55c!important; }
  }

  // Hides downvote arrow on posts only; still accessible on comments
  // Also replaces default RES nightmode arrow sprites
  .arrow, .arrow.up, .arrow.up:hover, .arrow.upmod,
  .arrow.down, .arrow.down:hover, .arrow.downmod { background: url(%%nightmode-sprites%%)!important; }
  
  .arrow.up, .arrow.up:hover { background-position: -30px -52px!important; }
  .arrow.upmod { background-position: -45px -52px!important; }
  .arrow.down { visibility: hidden; display: none; }
  .comment .arrow.down, .comment .arrow.down:hover { visibility: visible; display: block; background-position: 0px -52px!important; margin-top: 5px; }
  .comment .arrow.downmod { background-position: -15px -52px!important; margin-top: 5px; }

  // Change active keynav bg-color
  .RES-keyNav-activeElement {
    &, .usertext-body, .usertext-body .md, .usertext-body .md p,
    .commentarea & .noncollapsed, .noncollapsed .md, .noncollapsed .md p {
      background-color: #3a3a3a !important;
    }
  }
  
  // notice below comments
  .commentarea .usertext .usertext-edit:after { background-color: inherit; color: #ccc; }
  
  // Comments coloring
  .comment { border-radius: 3px; border: none!important; }
  .comments-page .comment,
  .comments-page .comment .comment .comment, 
  .comments-page .comment .comment .comment .comment .comment, 
  .comments-page .comment .comment .comment .comment .comment .comment .comment, 
  .comments-page .comment .comment .comment .comment .comment .comment .comment .comment .comment,
  .res-commentBoxes .comments-page .comment,
  .res-commentBoxes .comments-page .comment .comment .comment, 
  .res-commentBoxes .comments-page .comment .comment .comment .comment .comment, 
  .res-commentBoxes .comments-page .comment .comment .comment .comment .comment .comment .comment, 
  .res-commentBoxes .comments-page .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background-color: #1a1a1a!important;
    .arrow.up, .arrow.up:hover { background-position: -30px -67px !important; }
    .arrow.upmod { background-position: -45px -67px !important; }
    .arrow.down, .arrow.down:hover { background-position: 0px -67px!important;}
    .arrow.downmod { background-position: -15px -67px!important; }
  }
  .comments-page .comment .comment,
  .comments-page .comment .comment .comment .comment, 
  .comments-page .comment .comment .comment .comment .comment .comment, 
  .comments-page .comment .comment .comment .comment .comment .comment .comment .comment,
  .comments-page .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
  .res-commentBoxes .comments-page .comment .comment,
  .res-commentBoxes .comments-page .comment .comment .comment .comment, 
  .res-commentBoxes .comments-page .comment .comment .comment .comment .comment .comment, 
  .res-commentBoxes .comments-page .comment .comment .comment .comment .comment .comment .comment .comment,
  .res-commentBoxes .comments-page .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    margin-right: 0px;
    background-color: #080808!important;
  }

  // Tournament icons in header
  .side {
    a[href="/r/LoLeventVoDs/comments/1v6w31/s4_lcs_europe_spring_season/"],
    a[href="/r/LoLeventVoDs/comments/1vgje3/s4_lcs_north_america_spring_season/"],
    a[href="/r/LoLeventVoDs/comments/1wd6yu/iem_sao_paulo_2014/"],
    a[href="/r/LoLeventVoDs/comments/1tn6v4/pandoratv_201314_ogn_winter_playoffs/"] {
      .headers();
      display: block;
      position: absolute;
      top: 19px;
      z-index: 9999;
    }

    a[href="/r/LoLeventVoDs/comments/1v6w31/s4_lcs_europe_spring_season/"] {
      right: 640px;
      .headers-eu-off();
      &:hover { .headers-eu-on(); }
    }
    a[href="/r/LoLeventVoDs/comments/1vgje3/s4_lcs_north_america_spring_season/"] {
      right: 0;
      .headers-na-off();
      &:hover { .headers-na-on(); }
    }
    a[href="/r/LoLeventVoDs/comments/1wd6yu/iem_sao_paulo_2014/"] {
      right: 400px;
      .headers-iem-off();
      &:hover { .headers-iem-on(); }
    }
    a[href="/r/LoLeventVoDs/comments/1tn6v4/pandoratv_201314_ogn_winter_playoffs/"] {
      right: 145px;
      .headers-ogn-off();
      &:hover { .headers-ogn-on(); }
    }
  }
}