.res-nightmode, html[lang="dd"] {
  // Linkflair Menu Changes
  .drop-choices { background-color: #fff; }
  .RES-keyNav-activeElement .drop-choices a.title:first-of-type { color: #222!important; }
}

red, featured, finishedfeatured, twitchfeatured {
  .res-nightmode .linkflair-& .RES-keyNav-activeElement a.title:first-of-type { 
    color: red !important;
  }
}