.res-nightmode, html[lang="dd"] {
  // Top announcement.
  // It works by enabling <h6/> in the sidebar as a announcement banner on top
  // of the main subreddit content.

  .titlebox .usertext-body .md h6 {
    background: url(%%gray%%) 0px -72px;
    color: #222;
  }

  h6 a {
    color: #F2E972!important;
  }

  // No flairs on front page
  .listing-page .sitetable .flair { display: none; }
}
.res-nightmode {
  .listing-page .sitetable > div:nth-of-type(4n+1) { background-color: #222; }
}