@icon-spacing: -19px;
@social-spacing: -49px;

.res-nightmode {
  h1 { border-bottom: none !important; }
  .sidebox {
    background-color: transparent!important;
    border: none!important;
    color: #000!important;
    border-radius: 5px!important;
  }
  .side .titlebox .usertext-body ul { background-color: #080808!important; }
}

.res-nightmode, html[lang="dd"] {
    
  // Search box modifications
  .side {
    .spacer > #search input {
      background-color: #444;
      color: #ccc;
    }
    .titlebox { color: #ddd; }
  }
  
  .infobar { background-color: transparent!important; }
  
  // Modify submit a new post
  .sidebox .morelink, .submit .morelink {
    background: url(%%gray%%);
    background-position: 0px -68px;
    &:hover { background-position: 0px -34px; }
    a { 
      &:before { color: #000; }
      &:hover:before { color: #fff; }
    }
  }

  // Sidebar headings
  .titlebox .usertext .md > h1 {
    background-position: 0px -68px;
    color: #000 !important;
    &:after { border-color: transparent #ccc transparent transparent !important; }
  }
}
