.res-nightmode, html:lang(dd) {
  a[href="#269"]:after,
  a[href^="#a"]:after,
  a[href^="#b"]:after,
  a[href^="#c"]:after,
  a[href^="#d"]:after,
  a[href^="#e"]:after,
  a[href^="#f"]:after,
  a[href^="#g"]:after,
  a[href^="#h"]:after,
  a[href^="#i"]:after,
  a[href^="#j"]:after,
  a[href^="#k"]:after,
  a[href^="#l"]:after,
  a[href^="#m"]:after,
  a[href^="#n"]:after,
  a[href^="#o"]:after,
  a[href^="#p"]:after,
  a[href^="#q"]:after,
  a[href^="#r"]:after,
  a[href^="#s"]:after,
  a[href^="#t"]:after,
  a[href^="#u"]:after,
  a[href^="#v"]:after,
  a[href^="#w"]:after,
  a[href^="#x"]:after,
  a[href^="#y"]:after,
  a[href^="#z"]:after, {
    content:"";
    background-image: url(%%nightmode-teams%%);
  }
  
  .md table tr {
    &:hover {
      a[href="#269"]:after,
      a[href^="#a"]:after,
      a[href^="#b"]:after,
      a[href^="#c"]:after,
      a[href^="#d"]:after,
      a[href^="#e"]:after,
      a[href^="#f"]:after,
      a[href^="#g"]:after,
      a[href^="#h"]:after,
      a[href^="#i"]:after,
      a[href^="#j"]:after,
      a[href^="#k"]:after,
      a[href^="#l"]:after,
      a[href^="#m"]:after,
      a[href^="#n"]:after,
      a[href^="#o"]:after,
      a[href^="#p"]:after,
      a[href^="#q"]:after,
      a[href^="#r"]:after,
      a[href^="#s"]:after,
      a[href^="#t"]:after,
      a[href^="#u"]:after,
      a[href^="#v"]:after,
      a[href^="#w"]:after,
      a[href^="#x"]:after,
      a[href^="#y"]:after,
      a[href^="#z"]:after {
        background-image: url(%%teams%%);
      }
    }
    &:nth-of-type(odd) { 
      a[href="#269"]:after,
      a[href^="#a"]:after,
      a[href^="#b"]:after,
      a[href^="#c"]:after,
      a[href^="#d"]:after,
      a[href^="#e"]:after,
      a[href^="#f"]:after,
      a[href^="#g"]:after,
      a[href^="#h"]:after,
      a[href^="#i"]:after,
      a[href^="#j"]:after,
      a[href^="#k"]:after,
      a[href^="#l"]:after,
      a[href^="#m"]:after,
      a[href^="#n"]:after,
      a[href^="#o"]:after,
      a[href^="#p"]:after,
      a[href^="#q"]:after,
      a[href^="#r"]:after,
      a[href^="#s"]:after,
      a[href^="#t"]:after,
      a[href^="#u"]:after,
      a[href^="#v"]:after,
      a[href^="#w"]:after,
      a[href^="#x"]:after,
      a[href^="#y"]:after,
      a[href^="#z"]:after {
        background-image: url(%%dark-teams-odd%%);
      }
    }
    &:nth-of-type(even) {
      a[href="#269"]:after,
      a[href^="#a"]:after,
      a[href^="#b"]:after,
      a[href^="#c"]:after,
      a[href^="#d"]:after,
      a[href^="#e"]:after,
      a[href^="#f"]:after,
      a[href^="#g"]:after,
      a[href^="#h"]:after,
      a[href^="#i"]:after,
      a[href^="#j"]:after,
      a[href^="#k"]:after,
      a[href^="#l"]:after,
      a[href^="#m"]:after,
      a[href^="#n"]:after,
      a[href^="#o"]:after,
      a[href^="#p"]:after,
      a[href^="#q"]:after,
      a[href^="#r"]:after,
      a[href^="#s"]:after,
      a[href^="#t"]:after,
      a[href^="#u"]:after,
      a[href^="#v"]:after,
      a[href^="#w"]:after,
      a[href^="#x"]:after,
      a[href^="#y"]:after,
      a[href^="#z"]:after {
        background-image: url(%%dark-teams-even%%);
      }
    }
  }
  
  .RES-keyNav-activeElement {
    a[href="#269"]:after,
    a[href^="#a"]:after,
    a[href^="#b"]:after,
    a[href^="#c"]:after,
    a[href^="#d"]:after,
    a[href^="#e"]:after,
    a[href^="#f"]:after,
    a[href^="#g"]:after,
    a[href^="#h"]:after,
    a[href^="#i"]:after,
    a[href^="#j"]:after,
    a[href^="#k"]:after,
    a[href^="#l"]:after,
    a[href^="#m"]:after,
    a[href^="#n"]:after,
    a[href^="#o"]:after,
    a[href^="#p"]:after,
    a[href^="#q"]:after,
    a[href^="#r"]:after,
    a[href^="#s"]:after,
    a[href^="#t"]:after,
    a[href^="#u"]:after,
    a[href^="#v"]:after,
    a[href^="#w"]:after,
    a[href^="#x"]:after,
    a[href^="#y"]:after,
    a[href^="#z"]:after {
      background-image: url(%%dark-teams-active%%);
    }
  }
}