/* Visited links color change */
.entry {
  a:visited { 
    color: #551a8b;
    &[href*="lol.eventvods.com"] {
      color: #0079d3!important;
    }
  }
}

/* change width */
.md {
  max-width:90em;
}

/* alien */
#header-img-a {
  position: absolute;
  content: "";
  display: inline-block;
  top: 145px;
  left: 0px;
  width: 35px;
  height: 34px;
  border-right: 1px solid #ccc;
  background: url(%%alien%%)  no-repeat;
  &:hover { 
    .bg-pos(0, -34px);
  }
}
#header-img {
  display: none;
}
.titlebox form {
  position: static;
}

/* This lowers the links to create space */
.content {
  padding-top: 2px;
  margin-top: 41px;
}

/* Header image */

#header {
  border: none;
}
#header-bottom-left {
  background: #02021a url(%%header%%) no-repeat right top;
  height: 126px;
  span.pagename a {
    display: block;
    height: 125px;
    width: 228px;
    margin-left: 10px;
    margin-top: 10px;
    background: url(%%logo%%) no-repeat scroll 0 0 transparent;
    font-size: 0!important;
  }
}
.redditname a {
  text-indent: -1px;
  margin-top: 30px;
  color: white;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  display: inline;
  float: left;
}

/* Moves userbar down below header image */
#header-bottom-right {
  bottom: -34px;
  line-height: 26px;
  padding-left: 15px;
  background: url(%%gray%%);
  border-radius: 0;
  z-index: 20;
  a {
    color: #fff;
  }
}
.user {
  color: #fff;
  .userkarma {
    border-color: #fff;
  }
}
.separator {
  color: #bbb;
}

/* RES-specific userbar tweaks */
#header-bottom-right.res-navTop {
  top: 145px;
  bottom: -34px;
  line-height: 23px;
  padding-left: 5px;
  background: url(%%gray%%);
  border-radius: 0;
  border-left: 1px solid #5f99cf;
  #userbarToggle {
    border-radius: 0;
    background: url(%%gray%%);
    border-right: 1px dotted #bbb;
    border-left: 1px solid #bbb;
    line-height: 28px;
    color: #fff;
  }
}

/* Hides tabmenu, domain, leave contributor button & RES nav annotations */
#header .tabmenu,
#viewImagesButton,
.domain,
.side .leavecontributor-button,
table .keyNavAnnotation,
#siteTable .keyNavAnnotation,
a[href^="#"] + .keyNavAnnotation {
  display: none;
}
.link.last-clicked {
  overflow: hidden;
}

/* Timestamps */
.edited-timestamp::after {
  content:" (" attr(title) ")";
  font-size: 90%;
}

/* Red text in posts & disabled stylesheet warning */
.usertext-body  {
  h4 {
    color: #f00;
    font-weight: bold;
  }
  blockquote a[href="#no_stylesheet"] {
    display: none;
  }
}

/* tables */
.md { 
  table {
    border: 1px solid #444;
    font-family: Arial, Helvetica, Sans-serif;
    margin: 10px 0px;
    * {
      border: 10px;
    }
    th {
      text-align: center;
    }
    thead, tr:nth-child(even) {
      background-color: #f6f6f6;
    }
    td, th {
      border-right: 1px solid #888;
      padding: 4px 8px;
    }
  }
  th {
    border: 1px solid #444;
    padding: 6px 10px;
    white-space: nowrap;
    background-color: #444;
    color: whitesmoke;
  }
}
.side .md table {
  width:100%;
}

/* ALTERNATE ROW COLORS */
.md tr:nth-of-type(odd) {
  background: #fff;
  color: #363636;
}
.md tr:nth-of-type(even) {
  background: #EDEDED;
  color: #363636;
}

/* ROW HOVER COLOR */
.md table tr:hover { background-color: #bdff8b; }


/* Hides video expandos in posts */
.usertext-body .md {
  .RESdupeimg, .expando-button.video, 
  .expando-button.video.collapsed,
  .expando-button.video.expanded {
    display: none!important;
  }
}

/* Hides downvote arrow on posts only; still accessible on comments*/
.arrow.down { visibility: hidden; display: none; }
.comment .arrow.down { visibility: visible; display: block; }

/* Notice in comment box */
.commentarea {
  position: static;
  .usertext textarea {
		background-image: url(%%commentrules%%);
		background-repeat: no-repeat;
		border: 1px solid #ccc;
		&:focus { .bg-pos(-504px, -104px); }
  }
}

/* Tournament icons in header */
.side {
  a[href="/r/LoLeventVoDs/comments/2taw1o/"],
  a[href="/r/LoLeventVoDs/comments/2tjhh4/"],
  a[href="/r/LoLeventVoDs/comments/2tx8ou/"],
  a[href="/r/LoLeventVoDs/comments/2rm5z6/"] {
    .headers();
    display: block;
    position: absolute;
    top: 19px;
    z-index: 9999;
  }
  a[href="/r/LoLeventVoDs/comments/2taw1o/"] {
    right: 640px;
    .headers-eu-off();
    &:hover { .headers-eu-on(); }
  }
  a[href="/r/LoLeventVoDs/comments/2tjhh4/"] {
    right: 0;
    .headers-na-off();
    &:hover { .headers-na-on(); }
  }
  a[href="/r/LoLeventVoDs/comments/2tx8ou/"] {
    right: 400px;
    .headers-iem-off();
    &:hover { .headers-iem-on(); }
  }
  a[href="/r/LoLeventVoDs/comments/2rm5z6/"] {
    right: 145px;
    .headers-ogn-off();
    &:hover { .headers-ogn-on(); }
  }
}
