@flag-spacing: -61px;

belgium,
checzrepublic,
denmark,
estonia,
finland,
france,
germany,
lithuania,
netherlands,
norway,
poland,
russia,
scotland,
spain,
sweden {
  .flags-& { width: 16px; height: 11px; }
}

.flags-belgium       { .bg-pos; }
.flags-checzrepublic { .bg-pos(0, @flag-spacing); }
.flags-denmark       { .bg-pos(0, @flag-spacing * 2); }
.flags-estonia       { .bg-pos(0, @flag-spacing * 3); }
.flags-finland       { .bg-pos(0, @flag-spacing * 4); }
.flags-france        { .bg-pos(0, @flag-spacing * 5); }
.flags-germany       { .bg-pos(0, @flag-spacing * 6); }
.flags-lithuania     { .bg-pos(0, @flag-spacing * 7); }
.flags-netherlands   { .bg-pos(0, @flag-spacing * 8); }
.flags-norway        { .bg-pos(0, @flag-spacing * 9); }
.flags-poland        { .bg-pos(0, @flag-spacing * 10); }
.flags-russia        { .bg-pos(0, @flag-spacing * 11); }
.flags-scotland      { .bg-pos(0, @flag-spacing * 12); }
.flags-spain         { .bg-pos(0, @flag-spacing * 13); }
.flags-sweden        { .bg-pos(0, @flag-spacing * 14); }

a[href="#belgium"]:after,
a[href="#checzrepublic"]:after,
a[href="#denmark"]:after,
a[href="#estonia"]:after,
a[href="#finland"]:after,
a[href="#france"]:after,
a[href="#germany"]:after,
a[href="#lithuania"]:after,
a[href="#netherlands"]:after,
a[href="#norway"]:after,
a[href="#poland"]:after,
a[href="#russia"]:after,
a[href="#scotland"]:after,
a[href="#spain"]:after,
a[href="#sweden"]:after {
    content: "";
    width: 16px;
    height: 11px;
    background: url(%%flags%%) no-repeat scroll 16px 11px transparent;
    display: inline-block;
    vertical-align: middle;
    cursor: default !important;
}

a[href="#belgium"]:after       { .bg-pos; }
a[href="#checzrepublic"]:after { .bg-pos(0, @flag-spacing); }
a[href="#denmark"]:after       { .bg-pos(0, @flag-spacing * 2); }
a[href="#estonia"]:after       { .bg-pos(0, @flag-spacing * 3); }
a[href="#finland"]:after       { .bg-pos(0, @flag-spacing * 4); }
a[href="#france"]:after        { .bg-pos(0, @flag-spacing * 5); }
a[href="#germany"]:after       { .bg-pos(0, @flag-spacing * 6); }
a[href="#lithuania"]:after     { .bg-pos(0, @flag-spacing * 7); }
a[href="#netherlands"]:after   { .bg-pos(0, @flag-spacing * 8); }
a[href="#norway"]:after        { .bg-pos(0, @flag-spacing * 9); }
a[href="#poland"]:after        { .bg-pos(0, @flag-spacing * 10); }
a[href="#russia"]:after        { .bg-pos(0, @flag-spacing * 11); }
a[href="#scotland"]:after      { .bg-pos(0, @flag-spacing * 12); }
a[href="#spain"]:after         { .bg-pos(0, @flag-spacing * 13); }
a[href="#sweden"]:after        { .bg-pos(0, @flag-spacing * 14); }