/* Users */
.flair {
  .flairs;
  display:inline-block;
  border: 0;
  padding: 0;
}
.flair-red { .flairs-red; } 
.flair-yellow { .flairs-yellow; } 

/* Links */
.linkflairlabel {
  display:inline-block;
  margin-right:.5em;
  padding: 2px 2px 2px 2px;
  background:#f5f5f5;
  color:#555;
  border:1px solid #ddd;
  border-radius:2px;
  height: 13px;
  overflow: hidden;
  vertical-align: -3px;
 }

ongoing, finished, featured, upcoming, 
twitchongoing, twitchfinished, twitchfeatured, twitchupcoming {
  .linkflair-& .linkflairlabel { 
    background: url(%%flairs-sprites%%) no-repeat top left;
    padding: 2px 2px 2px 17px;
  }
}

ongoing, twitchongoing {
	.linkflair-& .linkflairlabel, .flairoptionpane .linkflair-& .linkflairlabel {
		.flairs-ongoing();
	}
}

finished, twitchfinished {
	.linkflair-& .linkflairlabel, .flairoptionpane .linkflair-& .linkflairlabel {
		.flairs-finished();
	}
}

featured, twitchfeatured {
	.linkflair-& .linkflairlabel, .flairoptionpane .linkflair-& .linkflairlabel {
		.flairs-featured();
	}
}

upcoming, twitchupcoming {
	.linkflair-& .linkflairlabel, .flairoptionpane .linkflair-& .linkflairlabel {
		.flairs-upcoming();
	}
}


red, featured, finishedfeatured, twitchfeatured {
  .linkflair-& a.title { 
    color: red !important;
  }
}
