/* No flairs on front page */
.listing-page #siteTable .flair {
  display: none;
}

/* Hide rank and vertically center votes
   Adds padding too */
#siteTable .thing {
  padding-left: 5px;
  .rank {
    display: none;
  }
  .midcol {
    margin-top: 10px;
  }
}