/* This is the place were the old and deprecated rules resides for Clam's sake */

/* top menu */

.side .md [href="http://www.reddit.com/r/LoLeventVoDs/comments/1m2188/mobafire_challenger_series_season_1_playoffs/"] {
  position:absolute;
  display: block;
  color: white!important;
  z-index: 99;
  top: 37px;
  left: 300px;
  background-color: #245275;
  color: #fff;
  text-align: left;
  margin: 15px;
  border-radius: 8px;
  width: 50px;
  padding: 7px 0px 7px 0px;
  background-repeat: no-repeat;
}

.side .md [href="http://www.reddit.com/r/LoLeventVoDs/comments/1iiv7d/s3_lcs_north_america_summer_season_part_2/"] {
  position:absolute;
  display: block;
  color: white!important;
  z-index: 99;
  top: 37px;
  left: 360px;
  background-color: #245275;
  color: #fff;
  text-align: left;
  margin: 15px;
  border-radius: 8px;
  width: 50px;
  padding: 7px 0px 7px 0px;
  background-repeat: no-repeat;
}

.side .md [href="http://redd.it/1jzos5"] {
  position:absolute;
  display: block;
  color: white!important;
  z-index: 99;
  top: 37px;
  left: 423px;
  background-color: #245275;
  color: #fff;
  text-align: left;
  margin: 15px;
  border-radius: 8px;
  width: 50px;
  padding: 7px 0px 7px 0px;
  background-repeat: no-repeat;
}

.side .md [href="http://goo.gl/viofO"] {
  position:absolute;
  display: block;
  color: white!important;
  z-index: 99;
  top: 37px;
  left: 465px;
  background-color: #245275;
  color: #fff;
  text-align: left;
  margin: 15px;
  border-radius: 8px;
  width: 50px;
  padding: 7px 0px 7px 0px;
  background-repeat: no-repeat;
}

.side .md [href="http://goo.gl/GLTl7"] {
  position:absolute;
  display: block;
  color: white!important;
  z-index: 99;
  top: 37px;
  left: 508px;
  background-color: #245275;
  color: #fff;
  text-align: left;
  margin: 15px;
  border-radius: 8px;
  width: 50px;
  padding: 7px 0px 7px 0px;
  background-repeat: no-repeat;
}

.side .md [href="http://www.reddit.com/r/LoLeventVoDs/comments/1ibxqe/lpl_2013_summer_season/"] {
  position:absolute;
  display: block;
  color: white!important;
  z-index: 99;
  top: 37px;
  left: 350px;
  background-color: #245275;
  color: #fff;
  text-align: left;
  margin: 15px;
  border-radius: 8px;
  width: 50px;
  padding: 7px 0px 7px 0px;
  background-repeat: no-repeat;
}

.side .md [href="http://www.youtube.com/watch?v=jWZgBCexH2s"] {
  position:absolute;
  display: block;
  color: white!important;
  z-index: 99;
  top: 47px;
  left: 300px;
  color: #fff;
  text-align: left;
  margin: 15px;
  width: 75px;
  height: 27px;
  border-radius: 8px;
  padding: 7px 0px 7px 0px;
  background-image:url(%%streams%%);
  background-repeat:no-repeat;
  background-position:0 -310px;
  opacity:0.6;
}

.side a[href="http://www.youtube.com/watch?v=jWZgBCexH2s"]:hover{background-position:0 -310px; opacity:1.0}

.side .md [href="http://www.twitch.tv/riotgames"] {
  position:absolute;
  display: block;
  color: white!important;
  z-index: 99;
  top: 46px;
  left: 390px;
  color: #fff;
  text-align: left;
  margin: 15px;
  width: 100px;
  height: 33px;
  border-radius: 8px;
  padding: 7px 0px 7px 0px;
  background-image:url(%%streams%%);
  background-repeat:no-repeat;
  background-position:0 -144px;
  opacity:0.6;
}

.side a[href="http://www.twitch.tv/riotgames"]:hover{background-position:0 -144px; opacity:1.0}

.side .md [href="http://www.azubu.tv/channel/detail.do?cn_id=2125982449001&menu=1"] {
  position:absolute;
  display: block;
  color: white!important;
  z-index: 99;
  top: 52px;
  left: 510px;
  color: #fff;
  text-align: left;
  margin: 15px;
  width: 120px;
  height: 22px;
  border-radius: 8px;
  padding: 7px 0px 7px 0px;
  background-image:url(%%streams%%);
  background-repeat:no-repeat;
  background-position:0 0px;
  opacity:0.6;
}

.side a[href="http://www.azubu.tv/channel/detail.do?cn_id=2125982449001&menu=1"]:hover{
    background-position:0 0px;
    opacity:1.0
}

.side .md [href="#top"] {
  position:absolute;
  display: block;
  color: #e5e5e5!important;
  z-index: 99;
  top: 15px;
  left: 300px;
  color: #fff;
  text-align: left;
  margin: 15px;
  height: 27px;
  border-radius: 8px;
  padding: 7px 0px 7px 0px;
}

.side .md [href="https://www.youtube.com/watch?v=tam2mPPsQqs"] {
  position:absolute;
  display: block;
  color: #e5e5e5!important;
  z-index: 99;
  top: 100px;
  left: 300px;
  color: #fff;
  text-align: left;
  margin: 15px;
  height: 27px;
  border-radius: 8px;
  padding: 7px 0px 7px 0px;
}

.side .md [href="http://www.youtube.com/watch?v=3cImB8CNPpA"] {
  position:absolute;
  display: block;
  color: #e5e5e5!important;
  z-index: 99;
  top: 100px;
  left: 450px;
  color: #fff;
  text-align: left;
  margin: 15px;
  height: 27px;
  border-radius: 8px;
  padding: 7px 0px 7px 0px;
}

/* drop down menu top  */

.side .md blockquote {
  position: absolute;
  top: 47px;
  left: 340px;
  border: 5px none;
  z-index: 99;
  color: white;
}

.side .md blockquote ol {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  color: white;
}

.side .md blockquote a:link    {color:white;}
.side .md blockquote a:visited {color:white;}
.side .md blockquote ol li { display: none; }
.side .md blockquote ol li:first-child, .side .md blockquote ol:hover li { display: block; }
.side .md blockquote ul+ul:first-child { width: 80px }
.side .md blockquote ul+ul { margin-left: 60px; }

/*Sidebar event links */

.side a[href="http://redd.it/1mdzso"]{
  display:block;
  margin-left: -10px;
  margin-top: -4px;
  height:100px;
  width:300px;
  background-image:url(%%worlds2%%);
  background-repeat:no-repeat;
  background-position:0 0;
}

.side a[href="http://redd.it/1mdzso"]:hover{
  background-position:0 -100px;
}

/* Streams */

a[href="#azubu"]:after, a[href="#twitch"]:after, a[href="#youtube"]:after{
  content:'';
  width: 120px;
  height: 33px;
  background: transparent url(%%streams%%) no-repeat;
  display: inline-block;
  vertical-align: middle;
  cursor: default !important;
}

a[href="#azubu"]:nth-of-type(n):after{ background-position: 0px 0px; }
a[href="#twitch"]:nth-of-type(n):after{ background-position: 0px -72px; }
a[href="#youtube"]:nth-of-type(n):after{ background-position: 0px -155px; }

.streams-azubu1{ background-position: 0 0; width: 120px; height: 22px; } 
.streams-azubu2{ background-position: 0 -72px; width: 120px; height: 22px; } 
.streams-twitch1{ background-position: 0 -144px; width: 100px; height: 33px; } 
.streams-twitch2{ background-position: 0 -227px; width: 100px; height: 33px; } 
.streams-youtube1{ background-position: 0 -310px; width: 75px; height: 27px; } 
.streams-youtube2{ background-position: 0 -387px; width: 75px; height: 27px; } 
