.side { 
  width: 325px;
  margin: 36px 10px 0 5px;
  h4, h5 {
    height: 0;
  }
  
  // Contest thumbnail/announcement
  .md a[href$="#sidebar_img"] {
    background-image: url(%%sidebar-promoimg%%);
    display: inline-block;
    height: 200px;
    width: 325px;
    text-indent: -9999px;
    margin-left: -10px;
    margin-top: 10px;
  }
  
  // Theme Switcher
  a[href="//www.reddit.com/r/loleventvods/"],
  a[href="#2themes"],
  a[href="//dd.reddit.com/r/loleventvods/"] {
    margin: 10px 0 0 0;
    height: 50px;
    display: inline-block;
    background: url(%%theme-selector%%) no-repeat;
  }
  a[href="//www.reddit.com/r/loleventvods/"] {
    width: 75px;
    margin-left: 20px;
    &:hover {
      background-position: 0px -50px;
    }
  }
  a[href="#2themes"] {
    margin-left: -5px;
    width: 130px;
    background-position: -85px 0px;
    cursor: default;
    &:after {
      content: none!important;
    }
  }
  a[href="//dd.reddit.com/r/loleventvods/"] {
    margin-left: -5px;
    margin-right: -20px;
    width: 75px;
    background-position: -213px 0px;
    &:hover {
      background-position: -213px -50px;
    }
  }
  
  /* sidebar social media icons */
  @social-height: -49px;
  
  a[href="https://www.facebook.com/loleventvods"],
  a[href="https://www.twitter.com/loleventvods"],
  a[href="http://www.youtube.com/loleventvods"],
  a[href="https://play.google.com/store/apps/details?id=com.kox.zzreal"],
  a[href="http://appsto.re/us/Eh0m1.i"],
  a[href="http://www.eventvods.com/donate"]  {
    display: inline-block;
    background: url(%%sidebar-social%%) no-repeat;
    width: 147px;
    height: -@social-height;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 3px;
    &:hover {
      opacity: 0.6
    }
  }

  a[href="https://www.facebook.com/loleventvods"] {
    .bg-pos;
    .social-left-col();
    .social-top-row();
  }
  a[href="https://www.twitter.com/loleventvods"] {
    .bg-pos(0, @social-height);
    .social-right-col();
    .social-top-row();
  }
  a[href="http://www.youtube.com/loleventvods"] {
    .bg-pos(0, @social-height * 2);
    .social-left-col();
  }
  a[href="https://play.google.com/store/apps/details?id=com.kox.zzreal"] {
    .bg-pos(0, @social-height * 3);
    .social-right-col();
  }
  a[href="http://appsto.re/us/Eh0m1.i"] {
    .bg-pos(0, @social-height * 4);
    .social-left-col();
  }
  a[href="http://www.eventvods.com/donate"] {
    .bg-pos(0, @social-height * 5);
    .social-right-col();
  }
}

/* Table in sidebar */
.side {
  .md table {
    width: 325px;
    margin: -5px 10px 10px -10px;
    border-bottom: none;
    border-collapse: collapse;
    color: #0a5a36!important;
    font-size: 11px;
    .box-shadow(1px 1px 1px #193064);
    thead {
      display: none;
    }
    td {
      border: 0!important;
      &[align="left"] a {
        float: right;
      }
      &[align="right"] a {
        float: left;
      }
    }
  }
}

/* Drop downs */
.side .titlebox .md {
  ul {
    list-style-type: none;
    padding-left: 10px;
    li {
      display: none;
      background-color: #eee;
      width: 310px;
      line-height: 18px;
      font-weight: normal;
      font-size: 12px;
      margin: 0 0 0 -21px;
      border-left: 7px solid #ccc;
      border-bottom: 1px solid #bbb;
      padding: 5px 2px 5px 8px;
      &:hover {
        background-color: #ccc;
      }
      &:nth-child(1) {
        .sidebar-header;
        margin-left: -21px;
        display: block;
        &:hover {
          border-left: 7px solid #367588;
        }
      }
      &:nth-child(2) {
        margin-top: -5px;
      }
    }
    &:hover li {
      display: block;
    }
  }
  // Hide divider
  hr {
    display: none;
  }
  // Hide team icon from displaying for RES nightmode compatible tag
  a[href$="Compatible"]:after {
    content: none!important;
  }
}

/* Related subreddits */
.titlebox blockquote {
  border: none;
  padding-left: 0;
  p {
    width: 300px;
    min-height: 100px;
    margin: 5px 0;
  }
  a[href="/r/dotavods"],
  a[href="/r/hearthstonevods"],
  a[href="/r/cseventvods"],
  a[href="/r/SpoilerFreeSC"] {
    .hide-text;
    padding: 0 300px 85px 0;
    background: url(%%related-subreddits%%) top left no-repeat;
    &:hover {
      opacity: 0.6;
    }
  }
  a[href="/r/hearthstonevods"] {
    .bg-pos(0, -100px);
  }
  a[href="/r/cseventvods"] {
    .bg-pos(0, -200px);
  }
  a[href="/r/SpoilerFreeSC"] {
    .bg-pos(0, -300px);
  }
  // Fall-back for "Stay connected" and "Related subreddits" sections
  // in case stylesheet is disabled or doesn't load
  ul {
    display: none;
  }
}


/* Modify submit a new post, hide "submit link" button */
.submit .morelink {
  background: url(%%gray%%);
  border: none;
  .border-radius(5px);
  &:hover {
    background: url(%%gray%%) 0px -36px;
  }
  a {
    content: '';
    font-size: 0;
    &:before {
      content: 'Submit new VoDs post';
      font-size: 14px;
      color: white;
    }
  }
  .nub {
    display: none;
  }
}
.submit-link {
  display: none;
}

/* Subscribers */
.subscribers {
  .word {
    display: none;
  }
  .number::after {
    content: " subscribers";
  }
}

/* Users here now */
.users-online .word {
  display: none;
}
.users-online .number::after {
  content: " viewers online now";
}

/* User flair */
.flairselector .customizer {
  display: none!important;
}

/* Sidebar headings */
.sidecontentbox .content, .linkinfo, .footer {
  background: transparent!important;
  font-size: small;
  border: 1px solid #ccc;
  margin: 7px 0 0;
  .border-radius(10px);
}
.titlebox {
  padding: 10px;
  background: transparent!important;
  border: none;
  color: #000;
  .bottom {
    display: none;
  }
  form.toggle {
    background-color: transparent!important;
  }
  .usertext {
    margin: 15px 0;
    line-height: 120%;
    .md {
      margin: 0;
      padding: 0;
      overflow: visible;
      > h1 {
        .sidebar-header;
      }
    }
  }
}

.sidecontentbox a.helplink {
  margin-right: 5px;
}
.icon-menu a {
  background: transparent;
}

/* hide "Create your own subreddit" button */
div.sidebox.create{ display: none; }