a[href="#america"]:after,
a[href="#china"]:after,
a[href="#europe"]:after,
a[href="#korea"]:after,
a[href="#sea"]:after {
    content:"";
    width: 16px;
    height: 11px;
    background: url(%%teams%%) no-repeat scroll 16px 11px transparent;
    display: inline-block;
    vertical-align: 1%;
    cursor: default !important;
}

a[href="#america"]:after {
    background-position: 396px 0px
}

a[href="#china"]:after {
    background-position: 396px -11px
}

a[href="#europe"]:after {
    background-position: 396px -22px
}

a[href="#korea"]:after {
    background-position: 396px -33px
}

a[href="#sea"]:after {
    background-position: 396px -44px
}

a[href="#aaa"]:after,
a[href="#anexis"]:after,
a[href="#atn"]:after,
a[href="#aware"]:after, a[href="#awg"]:after,
a[href="#azure"]:after,
a[href="#bears"]:after, a[href="#gam"]:after,
a[href="#c9"]:after,
a[href="#cjb"]:after,
a[href="#clg"]:after,
a[href="#coast"]:after, a[href="#cst"]:after,
a[href="#cog"]:after, a[href="#wzb"]:after,
a[href="#col"]:after, a[href="#colA"]:after,
a[href="#crs"]:after, a[href="#crsA"]:after,
a[href="#cw"]:after,
a[href="#db"]:after,
a[href="#dbl"]:after,
a[href="#dig"]:after,
a[href="#dnl"]:after,
a[href="#dp"]:after,
a[href="#dru"]:after,
a[href="#eg"]:after,
a[href="#esuba"]:after,
a[href="#ete"]:after,
a[href="#eternity"]:after,
a[href="#fid"]:after,
a[href="#fnatic"]:after, a[href="#fnc"]:after,
a[href="#fxo"]:after,
a[href="#gambit"]:after, a[href="#gmb"]:after,
a[href="#gaming"]:after, a[href="#gg"]:after,
a[href="#ggLA"]:after,
a[href="#ggu"]:after,
a[href="#gia"]:after,
a[href="#hc"]:after,
a[href="#ig"]:after,
a[href="#im"]:after,
a[href="#iodd"]:after,
a[href="#jas"]:after,
a[href="#ld"]:after,
a[href="#marn"]:after, a[href="#mrn"]:after,
a[href="#millenium"]:after, a[href="#mil"]:after,
a[href="#min"]:after, a[href="#msk"]:after,
a[href="#mouz"]:after,
a[href="#mym"]:after,
a[href="#nid"]:after,
a[href="#nip"]:after,
a[href="#nip2"]:after,
a[href="#nsh"]:after,
a[href="#nsw"]:after,
a[href="#nwe"]:after,
a[href="#omg"]:after,
a[href="#ozone"]:after, a[href="#sso"]:after,
a[href="#pain"]:after,
a[href="#pe"]:after,
a[href="#qg"]:after, a[href="#qtc"]:after,
a[href="#rg"]:after,
a[href="#roughnex"]:after,
a[href="#royal"]:after, a[href="#ryl"]:after,
a[href="#rxg"]:after,
a[href="#shc"]:after,
a[href="#sk"]:after,
a[href="#skt"]:after,
a[href="#sns"]:after,
a[href="#sword"]:after,
a[href="#tap"]:after,
a[href="#tbd"]:after,
a[href="#tcm"]:after,
a[href="#ts"]:after,
a[href="#tsb"]:after,
a[href="#tsm"]:after,
a[href="#tt"]:after,
a[href="#ttd"]:after,
a[href="#ves"]:after,
a[href="#vul"]:after, a[href="#xdg"]:after,
a[href="#we"]:after,
a[href="#wizards"]:after,
a[href="#xts"]:after {
    content:"";
    width: 36px;
    height: 20px;
    background: url(%%teams%%) no-repeat scroll 36px 20px transparent;
    display: inline-block;
    vertical-align: middle;
    cursor: default !important;
}


/* LCS EU */
a[href="#aaa"]:after {
    background-position: 0px 0px
}

a[href="#atn"]:after {
    background-position: 0px -25px
}

a[href="#cw"]:after {
    background-position: 0px -50px
}

a[href="#db"]:after {
    background-position: 0px -75px
}

a[href="#eg"]:after {
    background-position: 0px -100px
}

a[href="#fnatic"]:after, a[href="#fnc"]:after {
    background-position: 0px -125px
}

a[href="#gia"]:after {
    background-position: 0px -150px
}

a[href="#gambit"]:after, a[href="#gmb"]:after {
    background-position: 0px -175px
}

a[href="#ld"]:after {
    background-position: 0px -200px
}

a[href="#millenium"]:after, a[href="#mil"]:after {
    background-position: 0px -225px
}

a[href="#mym"]:after {
    background-position: 0px -250px
}

a[href="#nip2"]:after {
    background-position: 0px -275px
}

a[href="#shc"]:after {
    background-position: 0px -300px
}

a[href="#sk"]:after {
    background-position: 0px -325px
}


/* LCS NA */
a[href="#c9"]:after {
    background-position: -36px 0px
}

a[href="#clg"]:after {
    background-position: -36px -25px
}

a[href="#col"]:after, a[href="#colA"]:after {
    background-position: -36px -50px
}

a[href="#crs"]:after, a[href="#crsA"]:after {
    background-position: -36px -75px
}

a[href="#coast"]:after, a[href="#cst"]:after {
    background-position: -36px -100px
}

a[href="#dig"]:after {
    background-position: -36px -125px
}

a[href="#ggu"]:after {
    background-position: -36px -150px
}

a[href="#marn"]:after, a[href="#mrn"]:after {
    background-position: -36px -175px
}

a[href*="#tsm"]:after {
    background-position: -36px -200px
}

a[href="#ves"]:after {
    background-position: -36px -225px
}

a[href="#vul"]:after, a[href="#xdg"]:after {
    background-position: -36px -250px
}


/* LCS Promos EU */
a[href="#mouz"]:after {
    background-position: -72px 0px
}

a[href="#tcm"]:after {
    background-position: -72px -25px
}

a[href="#wizards"]:after {
    background-position: -72px -50px
}


/* LCS Promos NA */
a[href="#azure"]:after {
    background-position: -108px 0px
}

a[href="#cog"]:after {
    background-position: -108px -25px
}

a[href="#dbl"]:after {
    background-position: -108px -50px
}

a[href="#fid"]:after {
    background-position: -108px -75px
}

a[href="#qg"]:after, a[href="#qtc"]:after {
    background-position: -108px -100px
}

a[href="#tap"]:after {
    background-position: -108px -125px
}

a[href="#ts"]:after {
    background-position: -108px -150px
}

a[href="#tsb"]:after {
    background-position: -108px -175px
}


/* OGN */
a[href="#cjb"]:after {
    background-position: -144px 0px
}

a[href="#jas"]:after {
    background-position: -144px -25px
}

a[href="#nsw"]:after {
    background-position: -144px -50px
}

a[href="#nsh"]:after {
    background-position: -144px -75px
}

a[href="#skt"]:after {
    background-position: -144px -100px
}

a[href="#ozone"]:after, a[href="#sso"]:after {
    background-position: -144px -125px
}

a[href="#im"]:after {
    background-position: -144px -150px
}


/* LPL */
a[href="#ig"]:after {
    background-position: -180px 0px
}

a[href="#omg"]:after {
    background-position: -180px -25px
}

a[href="#pe"]:after {
    background-position: -180px -50px
}

a[href="#we"]:after {
    background-position: -180px -75px
}

/* MCS */
a[href="#fxo"]:after {
    background-position: -216px 0px
}

a[href="#nwe"]:after {
    background-position: -216px -25px
}

a[href="#tbd"]:after {
    background-position: -216px -50px
}

a[href="#ttd"]:after {
    background-position: -216px -75px
}

a[href="#aware"]:after, a[href="#awg"]:after {
    background-position: -216px -100px
}

a[href="#nid"]:after {
    background-position: -216px -125px
}

a[href="#ggLA"]:after {
    background-position: -216px -150px
}

a[href="#rxg"]:after {
    background-position: -216px -175px
}

a[href="#tt"]:after {
    background-position: -216px -200px
}

a[href="#iodd"]:after {
        background-position: -216px -225px
}

a[href="#dnl"]:after {
    background-position: -216px -250px
}

a[href="#wzb"]:after {
    background-position: -216px -275px
}

a[href="#xts"]:after {
    background-position: -360px -125px
}


/* Worlds */
a[href="#bears"]:after, a[href="#gam"]:after {
    background-position: -252px 0px
}

a[href="#gaming"]:after, a[href="#gg"]:after {
    background-position: -252px -25px
}

a[href="#min"]:after, a[href="#msk"]:after {
    background-position: -252px -50px
}

a[href="#royal"]:after, a[href="#ryl"]:after {
    background-position: -252px -75px
}

a[href="#dp"]:after {
    background-position: -252px -100px
}


/* SCAN EUW */
/* TODO: Check if #ete and #eternity refer to the same team */
a[href="#ete"]:after, a[href="#eternity"]:after {
    background-position: -288px 0px
}

a[href="#hc"]:after {
    background-position: -288px -25px
}

a[href="#rg"]:after {
    background-position: -288px -50px
}

a[href="#anexis"]:after {
    background-position: -288px -75px
}


/* Disbanded/old */
a[href="#sns"]:after {
    background-position: -324px 0px
}

a[href="#dru"]:after {
    background-position: -324px -50px
}

a[href="#nip"]:after {
    background-position: -324px -75px
}

a[href="#sword"]:after {
    background-position: -324px -100px
}


/* Unsorted */
a[href="#esuba"]:after {
    background-position: -360px 0px
}

a[href="#pain"]:after {
    background-position: -360px -25px
}

a[href="#roughnex"]:after {
    background-position: -360px -50px
}