a[href="#america"]:after, a[href="#china"]:after, a[href="#europe"]:after, a[href="#korea"]:after, a[href="#sea"]:after {
    content:"";
    width: 16px;
    height: 11px;
    background: url(%%allstar%%) no-repeat scroll 16px 11px transparent;
    display: inline-block;
    vertical-align: 1%;
    cursor: default !important;
}

a[href="#america"]:after {
    background-position: 0px 0px
}

a[href="#china"]:after {
    background-position: 0px -61px
}

a[href="#europe"]:after {
    background-position: 0px -122px
}

a[href="#korea"]:after {
    background-position: 0px -183px
}

a[href="#sea"]:after {
    background-position: 0px -244px
}

a[href="#dp"]:after, a[href="#dru"]:after, a[href="#ete"]:after, a[href="#hc"]:after, a[href="#rg"]:after {
    content:"";
    width: 36px;
    height: 20px;
    background: url(%%teams4%%) no-repeat scroll 36px 20px transparent;
    display: inline-block;
    vertical-align: middle;
    cursor: default !important;
}

a[href="#dp"]:after {
    background-position: 0px 0px
}

a[href="#dru"]:after {
    background-position: 0px -66px
}

a[href="#ete"]:after {
    background-position: 0px -132px
}

a[href="#hc"]:after {
    background-position: 0px -198px
}

a[href="#rg"]:after {
    background-position: 0px -264px
}

a[href="#atn"]:after, a[href="#anexis"]:after, a[href="#azure"]:after, a[href="#c9"]:after,  a[href="#cjb"]:after, a[href="#clg"]:after, a[href="#coast"]:after, a[href="#col"]:after, a[href="#crs"]:after, a[href="#cw"]:after, a[href="#db"]:after, a[href="#dbl"]:after, a[href="#dig"]:after, a[href="#eg"]:after, a[href="#esuba"]:after, a[href="#eternity"]:after, a[href="#fid"]:after,  a[href="#fnatic"]:after, a[href="#gambit"]:after, a[href="#gaming"]:after, a[href="#ggu"]:after, a[href="#gia"]:after, a[href="#im"]:after, a[href="#ld"]:after, a[href="#marn"]:after, a[href="#millenium"]:after, a[href="#mrn"]:after, a[href="#mym"]:after, a[href="#nip"]:after,a[href="#pain"]:after,a[href="#gq"]:after,a[href="#roughnex"]:after,a[href="#sk"]:after,a[href="#skt"]:after,a[href="#tap"]:after,a[href="#ts"]:after,a[href="#tsb"]:after, a[href="#tsm"]:after,a[href="#ves"]:after,a[href="#vul"]:after {
    content:'';
    width: 36px;
    height: 20px;
    background: transparent url(%%teams%%) no-repeat;
    display: inline-block;
    vertical-align: middle;
    cursor: default !important;
}

a[href*="#atn"]:after {
    background-position: 0px 0px
}

a[href="#anexis"]:after {
    background-position: 0px -66px
}

a[href="#azure"]:after {
    background-position: 0px -132px
}

a[href="#c9"]:after {
    background-position: 0px -198px
}

a[href="#cjb"]:after {
    background-position: 0px -264px
}

a[href="#clg"]:after {
    background-position: 0px -330px
}

a[href="#coast"]:after {
    background-position: 0px -396px
}

a[href="#col"]:after {
    background-position: 0px -462px
}

a[href="#crs"]:after {
    background-position: 0px -528px
}

a[href="#cw"]:after {
    background-position: 0px -594px
}

a[href="#db"]:after {
    background-position: 0px -660px
}

a[href="#dbl"]:after {
    background-position: 0px -726px
}

a[href="#dig"]:after {
    background-position: 0px -792px
}

a[href="#eg"]:after {
    background-position: 0px -858px
}

a[href="#esuba"]:after {
    background-position: 0px -924px
}

a[href="#eternity"]:after {
    background-position: 0px -994px
}

a[href="#fid"]:after {
    background-position: 0px -1064px
}

a[href="#fnatic"]:after {
    background-position: 0px -1130px
}

a[href="#gambit"]:after {
    background-position: 0px -1196px
}

a[href="#gaming"]:after {
    background-position: 0px -1262px
}

a[href="#ggu"]:after {
    background-position: 0px -1327px
}

a[href="#gia"]:after {
    background-position: 0px -1393px
}

a[href="#im"]:after {
    background-position: 0px -1459px
}

a[href="#ld"]:after {
    background-position: 0px -1525px
}

a[href="#marn"]:after {
    background-position: 0px -1591px
}

a[href="#millenium"]:after {
    background-position: 0px -1657px
}

a[href="#mrn"]:after {
    background-position: 0px -1723px
}

a[href="#mym"]:after {
    background-position: 0px -1789px
}

a[href="#nip"]:after {
    background-position: 0px -1855px
}

a[href="#pain"]:after {
    background-position: 0px -1921px
}

a[href="#qg"]:after {
    background-position: -88px 0px
}

a[href="#roughnex"]:after {
    background-position: -88px -66px
}

a[href="#sk"]:after {
    background-position: -88px -136px
}

a[href="#skt"]:after {
    background-position: -88px -202px
}

a[href="#tap"]:after {
    background-position: -88px -268px
}

a[href="#ts"]:after {
    background-position: -88px -334px
}

a[href="#tsb"]:after {
    background-position: -88px -400px
}

a[href*="#tsm"]:after {
    background-position: -88px -466px
}

a[href="#ves"]:after {
    background-position: -88px -532px
}

a[href="#vul"]:after {
    background-position: -88px -598px
}

a[href="#aaa"]:after, a[href="#mouz"]:after, a[href="#sns"]:after, a[href="#tcm"]:after, a[href="#wizards"]:after {
    content:"";
    width: 36px;
    height: 20px;
    background: url(%%teams2%%) no-repeat scroll 36px 20px transparent;
    display: inline-block;
    vertical-align: middle;
    cursor: default !important;
}

a[href="#aaa"]:after {
    background-position: 0px 0px
}

a[href="#mouz"]:after {
    background-position: 0px -66px
}

a[href="#sns"]:after {
    background-position: 0px -132px
}

a[href="#tcm"]:after {
    background-position: 0px -198px
}

a[href="#wizards"]:after {
    background-position: 0px -264px
}

a[href="#azure"]:after, a[href="#dbl"]:after, a[href="#fid"]:after, a[href="#qg"]:after, a[href="#tap"]:after, a[href="#ts"]:after, a[href="#tsb"]:after, a[href="#ves"]:after {
    content:"";
    width: 36px;
    height: 20px;
    background: url(%%teams3%%) no-repeat scroll 36px 20px transparent;
    display: inline-block;
    vertical-align: middle;
    cursor: default !important;
}

a[href="#azure"]:after {
    background-position: 0px 0px
}

a[href="#dbl"]:after {
    background-position: 0px -66px
}

a[href="#fid"]:after {
    background-position: 0px -132px
}

a[href="#qg"]:after {
    background-position: 0px -198px
}

a[href="#tap"]:after {
    background-position: 0px -264px
}

a[href="#ts"]:after {
    background-position: 0px -330px
}

a[href="#tsb"]:after {
    background-position: 0px -396px
}

a[href="#ves"]:after {
    background-position: 0px -462px
}

a[href="#ig"]:after, a[href="#omg"]:after, a[href="#pe"]:after, a[href="#we"]:after {
    content:"";
    width: 36px;
    height: 20px;
    background: url(%%lpl%%) no-repeat scroll 36px 20px transparent;
    display: inline-block;
    vertical-align: middle;
    cursor: default !important;
}

a[href="#ig"]:after {
    background-position: 0px 0px
}

a[href="#omg"]:after {
    background-position: 0px -66px
}

a[href="#pe"]:after {
    background-position: 0px -132px
}

a[href="#we"]:after {
    background-position: 0px -198px
}

a[href="#aware"]:after, a[href="#fxo"]:after {
    content:"";
    width: 36px;
    height: 20px;
    background: url(%%teams5%%) no-repeat scroll 36px 20px transparent;
    display: inline-block;
    vertical-align: middle;
    cursor: default !important;
}

a[href="#aware"]:after {
    background-position: 0px 0px
}

a[href="#fxo"]:after {
    background-position: 0px -66px
}

a[href="#awg"]:after, a[href="#colA"]:after, a[href="#crsA"]:after, a[href="#dnl"]:after, a[href="#ggLA"]:after, a[href="#nwe"]:after, a[href="#rxg"]:after, a[href="#tbd"]:after, a[href="#ts"]:after, a[href="#tt"]:after, a[href="#ttd"]:after, a[href="#wzb"]:after, a[href="#xts"]:after, a[href="#iodd"]:after {
    content:"";
    width: 38px;
    height: 16px;
    background: url(%%mcs%%) no-repeat scroll 38px 16px transparent;
    display: inline-block;
    vertical-align: middle;
    cursor: default !important;
}

a[href="#awg"]:after {
    background-position: 0px 0px
}

a[href="#colA"]:after {
    background-position: 0px -66px
}

a[href="#crsA"]:after {
    background-position: 0px -132px
}

a[href="#dnl"]:after {
    background-position: 0px -198px
}

a[href="#ggLA"]:after {
    background-position: 0px -264px
}

a[href="#nwe"]:after {
    background-position: 0px -330px
}

a[href="#rxg"]:after {
    background-position: 0px -396px
}

a[href="#tbd"]:after {
    background-position: 0px -462px
}

a[href="#ts"]:after {
    background-position: 0px -528px
}

a[href="#tt"]:after {
    background-position: 0px -594px
}

a[href="#ttd"]:after {
    background-position: 0px -660px
}

a[href="#wzb"]:after {
    background-position: 0px -726px
}

a[href="#xts"]:after {
    background-position: 0px -792px
}

a[href="#iodd"]:after {
        background-position: 0px -855px
}

a[href="#bears"]:after, a[href="#min"]:after, a[href="#ozone"]:after, a[href="#royal"]:after, a[href="#sword"]:after {
    content:"";
    width: 36px;
    height: 20px;
    background: url(%%worlds%%) no-repeat scroll 36px 20px transparent;
    display: inline-block;
    vertical-align: middle;
    cursor: default !important;
}

a[href="#bears"]:after {
    background-position: 0px 0px
}

a[href="#min"]:after {
    background-position: 0px -66px
}

a[href="#ozone"]:after {
    background-position: 0px -132px
}

a[href="#royal"]:after {
    background-position: 0px -198px
}

a[href="#sword"]:after {
    background-position: 0px -264px
}

a[href="#jas"]:after, a[href="#nsh"]:after, a[href="#nsw"]:after {
    content:"";
    width: 36px;
    height: 20px;
    background: url(%%wcg%%) no-repeat scroll 36px 20px transparent;
    display: inline-block;
    vertical-align: middle;
    cursor: default !important;
}

a[href="#jas"]:after {
    background-position: 0px 0px
}

a[href="#nsh"]:after {
    background-position: 0px -66px
}

a[href="#nsw"]:after {
    background-position: 0px -132px
}

a[href="#nip2"]:after, a[href="#shc"]:after {
    content:"";
    width: 36px;
    height: 20px;
    background: url(%%nip-shc%%) no-repeat scroll 36px 20px transparent;
    display: inline-block;
    vertical-align: middle;
    cursor: default !important;
}

a[href="#nip2"]:after {
    background-position: 0px 0px
}

a[href="#shc"]:after {
    background-position: 0px -66px
}
