@teams-width: -36px;
@teams-height: -20px;

//a[href="#aaa"]:after,
//a[href="#ahq"]:after,
//a[href="#all"]:after,
//a[href="#anexis"]:after,
//a[href="#atn"]:after,
//a[href="#aware"]:after, a[href="#awg"]:after,
//a[href="#azure"]:after,
//a[href="#bears"]:after, a[href="#gam"]:after,
//a[href="#bkt"]:after,
//a[href="#c9"]:after, a[href$="/wiki/c9"]:before,
//a[href="#cjb"]:after,
//a[href="#cjf"]:after,
//a[href="#clg"]:after, a[href$="/wiki/clg"]:before,
//a[href="#coast"]:after, a[href="#cst"]:after, a[href$="/wiki/coast"]:before,
//a[href="#cog"]:after,
//a[href="#col"]:after, a[href="#colA"]:after,
//a[href="#crs"]:after, a[href="#crsA"]:after, a[href$="/wiki/crs"]:before,
//a[href="#cw"]:after,
//a[href="#db"]:after,
//a[href="#dbl"]:after,
//a[href="#dig"]:after, a[href$="/wiki/dig"]:before,
//a[href="#dnl"]:after,
//a[href="#dp"]:after,
//a[href="#dru"]:after,
//a[href="#edg"]:after,
//a[href="#eg"]:after, a[href$="/wiki/eg"]:before,
//a[href="#ep"]:after,
//a[href="#esuba"]:after,
//a[href="#ete"]:after,
//a[href="#eternity"]:after,
//a[href="#fid"]:after,
//a[href="#fl"]:after,
//a[href="#fnatic"]:after, a[href="#fnc"]:after,
//a[href="#fxo"]:after,
//a[href="#gambit"]:after, a[href="#gmb"]:after,
//a[href="#gaming"]:after, a[href="#gg"]:after,
//a[href="#ggLA"]:after,
//a[href="#ggu"]:after,
//a[href="#gia"]:after,
//a[href="#hc"]:after,
//a[href="#hka"]:after,
//a[href="#ig"]:after,
//a[href="#im"]:after,
//a[href="#iodd"]:after,
//a[href="#ipt"]:after,
//a[href="#is"]:after,
//a[href="#jinair"]:after, a[href="#jaf"]:after, a[href="#jas"]:after,
//a[href="#klh"]:after,
//a[href="#kt"]:after, a[href="#kta"]:after, a[href="#ktb"]:after,
//a[href="#ld"]:after,
//a[href="#lgd"]:after,
//a[href="#marn"]:after, a[href="#mrn"]:after,
//a[href="#midas"]:after,
//a[href="#millenium"]:after, a[href="#mil"]:after,
//a[href="#min"]:after, a[href="#msk"]:after,
//a[href="#mle"]:after,
//a[href="#mouz"]:after,
//a[href="#mym"]:after,
//a[href="#nid"]:after,
//a[href="#nip"]:after,
//a[href="#nip2"]:after,
//a[href="#nsh"]:after, a[href="#njws"]:after,
//a[href="#nsw"]:after, a[href="#njbs"]:after,
//a[href="#nwe"]:after,
//a[href="#omg"]:after,
//a[href="#ssg"]:after, a[href="#sso"]:after, a[href="#ssb"]:after, a[href="#ozone"]:after,
//a[href="#pain"]:after,
//a[href="#pe"]:after,
//a[href="#prime"]:after,
//a[href="#qg"]:after, a[href="#qtc"]:after,
//a[href="#rg"]:after,
//a[href="#roc"]:after,
//a[href="#roughnex"]:after,
//a[href="#royal"]:after, a[href="#ryl"]:after,
//a[href="#rxg"]:after,
//a[href="#saj"]:after,
//a[href="#sf5"]:after,
//a[href="#sgs"]:after,
//a[href="#shc"]:after,
//a[href="#sk"]:after,
//a[href="#skt"]:after,
//a[href="#sns"]:after,
//a[href="#sword"]:after,
//a[href="#tap"]:after,
//a[href="#tbd"]:after,
//a[href="#tcm"]:after,
//a[href="#tinf"]:after,
//a[href="#tpa"]:after,
//a[href="#tps"]:after,
//a[href="#ts"]:after,
//a[href="#tsb"]:after,
//a[href="#tsm"]:after, a[href$="/wiki/tsm"]:before,
//a[href="#tt"]:after,
//a[href="#ttd"]:after,
//a[href="#ves"]:after,
//a[href="#vul"]:after, a[href="#xdg"]:after, a[href$="/wiki/vul"]:before,
//a[href="#we"]:after,
//a[href="#wizards"]:after,
//a[href="#wzb"]:after,
//a[href="#xts"]:after,
//a[href="#yoefw"]:after 

a[href^="#a"]:after,
a[href^="#b"]:after,
a[href^="#c"]:after,
a[href^="#d"]:after,
a[href^="#e"]:after,
a[href^="#f"]:after,
a[href^="#g"]:after,
a[href^="#h"]:after,
a[href^="#i"]:after,
a[href^="#j"]:after,
a[href^="#k"]:after,
a[href^="#l"]:after,
a[href^="#m"]:after,
a[href^="#n"]:after,
a[href^="#o"]:after,
a[href^="#p"]:after,
a[href^="#q"]:after,
a[href^="#r"]:after,
a[href^="#s"]:after,
a[href^="#t"]:after,
a[href^="#u"]:after,
a[href^="#v"]:after,
a[href^="#w"]:after,
a[href^="#x"]:after,
a[href^="#y"]:after,
a[href^="#z"]:after,
a[href$="/wiki/c9"]:before,
a[href$="/wiki/clg"]:before,
a[href$="/wiki/crs"]:before,
a[href$="/wiki/coast"]:before,
a[href$="/wiki/dig"]:before,
a[href$="/wiki/eg"]:before,
a[href$="/wiki/tsm"]:before,
a[href$="/wiki/vul"]:before {
  content:"";
  width: -@teams-width;
  height: -@teams-height;
  background: url(%%teams%%) no-repeat scroll -@teams-width -@teams-height transparent;
  display: inline-block;
  vertical-align: middle;
  cursor: default !important;
}


/* LCS EU */
a[href="#aaa"]:after                             { .bg-pos; }
a[href="#all"]:after                             { .bg-pos(0, @teams-height); }
a[href="#atn"]:after                             { .bg-pos(0, @teams-height * 2); }
a[href="#cw"]:after                              { .bg-pos(0, @teams-height * 3); }
a[href="#db"]:after                              { .bg-pos(0, @teams-height * 4); }
a[href="#fnatic"]:after, a[href="#fnc"]:after    { .bg-pos(0, @teams-height * 5); }
a[href="#gia"]:after                             { .bg-pos(0, @teams-height * 6); }
a[href="#gambit"]:after, a[href="#gmb"]:after    { .bg-pos(0, @teams-height * 7); }
a[href="#ld"]:after                              { .bg-pos(0, @teams-height * 8); }
a[href="#mym"]:after                             { .bg-pos(0, @teams-height * 9); }
a[href="#millenium"]:after, a[href="#mil"]:after { .bg-pos(0, @teams-height * 10); }
a[href="#nip2"]:after                            { .bg-pos(0, @teams-height * 11); }
a[href="#roc"]:after                             { .bg-pos(0, @teams-height * 12); }
a[href="#shc"]:after                             { .bg-pos(0, @teams-height * 13); }
a[href="#sk"]:after                              { .bg-pos(0, @teams-height * 14); }


/* LCS NA */
a[href="#c9"]:after, a[href$="/wiki/c9"]:before                             { .bg-pos(@teams-width, 0); }
a[href="#clg"]:after, a[href$="/wiki/clg"]:before                           { .bg-pos(@teams-width, @teams-height); }
a[href="#col"]:after, a[href="#colA"]:after                                 { .bg-pos(@teams-width, @teams-height * 2); }
a[href="#crs"]:after, a[href="#crsA"]:after, a[href$="/wiki/crs"]:before    { .bg-pos(@teams-width, @teams-height * 3); }
a[href="#coast"]:after, a[href="#cst"]:after, a[href$="/wiki/coast"]:before { .bg-pos(@teams-width, @teams-height * 4); }
a[href="#dig"]:after, a[href$="/wiki/dig"]:before                           { .bg-pos(@teams-width, @teams-height * 5); }
a[href="#eg"]:after, a[href$="/wiki/eg"]:before                             { .bg-pos(@teams-width, @teams-height * 6); }
a[href="#ggu"]:after                                                        { .bg-pos(@teams-width, @teams-height * 7); }
a[href="#marn"]:after, a[href="#mrn"]:after                                 { .bg-pos(@teams-width, @teams-height * 8); }
a[href="#tsm"]:after, a[href$="/wiki/tsm"]:before                           { .bg-pos(@teams-width, @teams-height * 9); }
a[href="#ves"]:after                                                        { .bg-pos(@teams-width, @teams-height * 10); }
a[href="#vul"]:after, a[href="#xdg"]:after, a[href$="/wiki/vul"]:before     { .bg-pos(@teams-width, @teams-height * 11); }


/* LCS Promos EU */ 
a[href="#mouz"]:after    { .bg-pos(@teams-width * 2, 0); }
a[href="#tcm"]:after     { .bg-pos(@teams-width * 2, @teams-height); }
a[href="#wizards"]:after { .bg-pos(@teams-width * 2, @teams-height * 2); }


/* LCS Promos NA */
a[href="#azure"]:after                    { .bg-pos(@teams-width * 3, 0); }
a[href="#cog"]:after                      { .bg-pos(@teams-width * 3, @teams-height); }
a[href="#dbl"]:after                      { .bg-pos(@teams-width * 3, @teams-height * 2); }
a[href="#fid"]:after                      { .bg-pos(@teams-width * 3, @teams-height * 3); }
a[href="#qg"]:after, a[href="#qtc"]:after { .bg-pos(@teams-width * 3, @teams-height * 4); }
a[href="#tap"]:after                      { .bg-pos(@teams-width * 3, @teams-height * 5); }
a[href="#ts"]:after                       { .bg-pos(@teams-width * 3, @teams-height * 6); }
a[href="#tsb"]:after                      { .bg-pos(@teams-width * 3, @teams-height * 7); }


/* OGN */
a[href="#cjb"]:after                          { .bg-pos(@teams-width * 4, 0); }
a[href="#cjf"]:after                          { .bg-pos(@teams-width * 4, @teams-height); }
a[href="#im"]:after                           { .bg-pos(@teams-width * 4, @teams-height * 2); }
a[href="#jas"]:after, a[href="#jaf"]:after,
a[href="#jinair"]:after                       { .bg-pos(@teams-width * 4, @teams-height * 3); }
a[href="#kta"]:after, a[href="#ktb"]:after,
a[href="#kt"]:after                           { .bg-pos(@teams-width * 4, @teams-height * 4); }
a[href="#midas"]:after                        { .bg-pos(@teams-width * 4, @teams-height * 5); }
a[href="#nsw"]:after, a[href="#njbs"]:after   { .bg-pos(@teams-width * 4, @teams-height * 6); }
a[href="#nsh"]:after, a[href="#njws"]:after   { .bg-pos(@teams-width * 4, @teams-height * 7); }
a[href="#prime"]:after                        { .bg-pos(@teams-width * 4, @teams-height * 8); }
a[href="#ozone"]:after, a[href="#sso"]:after, 
a[href="#ssb"]:after, a[href="#ssg"]:after    { .bg-pos(@teams-width * 4, @teams-height * 9); }
a[href="#skt"]:after                          { .bg-pos(@teams-width * 4, @teams-height * 10); }


/* LPL */
a[href="#edg"]:after { .bg-pos(@teams-width * 5, 0); }
a[href="#ep"]:after  { .bg-pos(@teams-width * 5, @teams-height); }
a[href="#ig"]:after  { .bg-pos(@teams-width * 5, @teams-height * 2); }
a[href="#lgd"]:after { .bg-pos(@teams-width * 5, @teams-height * 3); }
a[href="#omg"]:after { .bg-pos(@teams-width * 5, @teams-height * 4); }
a[href="#pe"]:after  { .bg-pos(@teams-width * 5, @teams-height * 5); }
a[href="#we"]:after  { .bg-pos(@teams-width * 5, @teams-height * 6); }

/* GPL */
a[href="#ahq"]:after    { .bg-pos(@teams-width * 6, 0); }
a[href="#bkt"]:after    { .bg-pos(@teams-width * 6, @teams-height); }
a[href="#fl"]:after     { .bg-pos(@teams-width * 6, @teams-height * 2); }
a[href="#hka"]:after    { .bg-pos(@teams-width * 6, @teams-height * 3); }
a[href="#ipt"]:after    { .bg-pos(@teams-width * 6, @teams-height * 4); }
a[href="#is"]:after     { .bg-pos(@teams-width * 6, @teams-height * 5); }
a[href="#klh"]:after    { .bg-pos(@teams-width * 6, @teams-height * 6); }
a[href="#mle"]:after    { .bg-pos(@teams-width * 6, @teams-height * 7); }
a[href="#saj"]:after    { .bg-pos(@teams-width * 6, @teams-height * 8); }
a[href="#sf5"]:after    { .bg-pos(@teams-width * 6, @teams-height * 9); }
a[href="#sgs"]:after    { .bg-pos(@teams-width * 6, @teams-height * 10); }
a[href="#tinf"]:after   { .bg-pos(@teams-width * 6, @teams-height * 11); }
a[href="#tpa"]:after    { .bg-pos(@teams-width * 6, @teams-height * 12); }
a[href="#tps"]:after    { .bg-pos(@teams-width * 6, @teams-height * 13); }  
a[href="#yoefw"]:after  { .bg-pos(@teams-width * 6, @teams-height * 14); }


/* MCS */
a[href="#aware"]:after, a[href="#awg"]:after { .bg-pos(@teams-width * 7, 0); }
a[href="#dnl"]:after, a[href="#nid"]:after   { .bg-pos(@teams-width * 7, @teams-height); }
a[href="#xts"]:after                         { .bg-pos(@teams-width * 7, @teams-height * 2); }
a[href="#fxo"]:after                         { .bg-pos(@teams-width * 7, @teams-height * 3); }
a[href="#ggLA"]:after                        { .bg-pos(@teams-width * 7, @teams-height * 4); }
a[href="#iodd"]:after                        { .bg-pos(@teams-width * 7, @teams-height * 5); }
a[href="#nwe"]:after                         { .bg-pos(@teams-width * 7, @teams-height * 6); }
a[href="#rxg"]:after                         { .bg-pos(@teams-width * 7, @teams-height * 7); }
a[href="#tbd"]:after                         { .bg-pos(@teams-width * 7, @teams-height * 8); }
a[href="#ttd"]:after                         { .bg-pos(@teams-width * 7, @teams-height * 9); }
a[href="#tt"]:after                          { .bg-pos(@teams-width * 7, @teams-height * 10); }
a[href="#wzb"]:after                         { .bg-pos(@teams-width * 7, @teams-height * 11); }


/* Worlds */
a[href="#dp"]:after                          { .bg-pos(@teams-width * 8, 0); }
a[href="#bears"]:after, a[href="#gam"]:after { .bg-pos(@teams-width * 8, @teams-height); }
a[href="#gaming"]:after, a[href="#gg"]:after { .bg-pos(@teams-width * 8, @teams-height * 2); }
a[href="#min"]:after, a[href="#msk"]:after   { .bg-pos(@teams-width * 8, @teams-height * 3); }
a[href="#royal"]:after, a[href="#ryl"]:after { .bg-pos(@teams-width * 8, @teams-height * 4); }


/* SCAN EUW */
a[href="#anexis"]:after                         { .bg-pos(@teams-width * 9, 0); }
a[href="#ete"]:after, a[href="#eternity"]:after { .bg-pos(@teams-width * 9, @teams-height); }
a[href="#hc"]:after                             { .bg-pos(@teams-width * 9, @teams-height * 2); }
a[href="#rg"]:after                             { .bg-pos(@teams-width * 9, @teams-height * 3); }


/* Disbanded/old */
a[href="#dru"]:after   { .bg-pos(@teams-width * 10, 0); }
a[href="#sns"]:after   { .bg-pos(@teams-width * 10, @teams-height); }
a[href="#nip"]:after   { .bg-pos(@teams-width * 10, @teams-height * 3); }
a[href="#sword"]:after { .bg-pos(@teams-width * 10, @teams-height * 4); }


/* Unsorted */
a[href="#esuba"]:after    { .bg-pos(@teams-width * 11, 0); }
a[href="#pain"]:after     { .bg-pos(@teams-width * 11, @teams-height); }
a[href="#roughnex"]:after { .bg-pos(@teams-width * 11, @teams-height * 3); }


/* Allstars */
a[href="#america"]:after,
a[href="#china"]:after,
a[href="#europe"]:after,
a[href="#korea"]:after,
a[href="#sea"]:after {
  content: "";
  width: 16px;
  height: 11px;
  background: url(%%teams%%) no-repeat scroll 16px 11px transparent;
  display: inline-block;
  vertical-align: 1%;
  cursor: default !important;
}

a[href="#america"]:after { .bg-pos(@teams-width * 12, 0px) }
a[href="#china"]:after   { .bg-pos(@teams-width * 12, -11px); }
a[href="#europe"]:after  { .bg-pos(@teams-width * 12, -22px); }
a[href="#korea"]:after   { .bg-pos(@teams-width * 12, -33px); }
a[href="#sea"]:after     { .bg-pos(@teams-width * 12, -44px); }
