# Ignore generated images from .psd
*.png
*.jpg
*.gif

# Except PNGs in images
!images/*.png
!images/*.jpg
!teams/**
!thumbs/**

# Ignore generated sprites directory
./visual-resources/generated-sprites

# OSX
.DS_Store

# Folders
node_modules
dist
teams/dist