.flairs() {
    background: url(%%flairs%%) no-repeat top left;
}

.flairs-finished() {
    background-position: 0 0;
    width: 20px;
    height: 20px;
}

.flairs-incomplete() {
    background-position: 0 -25px;
    width: 20px;
    height: 20px;
}

.flairs-ongoing() {
    background-position: 0 -50px;
    width: 20px;
    height: 20px;
}

.flairs-red() {
    background-position: 0 -75px;
    width: 15px;
    height: 15px;
}

.flairs-upcoming() {
    background-position: 0 -95px;
    width: 20px;
    height: 20px;
}

.flairs-yellow() {
    background-position: 0 -120px;
    width: 15px;
    height: 14px;
} 
