@social-spacing: -49px;

.social() {
  display: inline-block;
  background: url(%%sidebar%%) no-repeat;
  width: 147px;
  height: -@social-spacing;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.social-left-col()  { margin-left: 0px; }
.social-right-col() { margin-left: 6px; margin-right: 0px;}
.social-top-row() { margin-top: 6px;}
.social-bottom-row() { margin-top: 4px;}

.social-facebook() {
    background-position: 0 0;
    width: 32px;
    height: 32px;
}

.social-twitter() {
    background-position: 0 -37px;
    width: 32px;
    height: 32px;
}

.social-youtube() {
    background-position: 0 -74px;
    width: 32px;
    height: 33px;
}
