.thumbnails() {
    background: url(%%thumbnails%%) no-repeat top left;
    width: 70px;
    height: 50px;
}

.thumbnails-allstar() {
    background-position: 0 0;
}

.thumbnails-android() {
    background-position: 0 -55px;
}

.thumbnails-black-monster-cup() {
    background-position: 0 -110px;
}

.thumbnails-cs-eu() {
    background-position: 0 -165px;
}

.thumbnails-cs-na() {
    background-position: 0 -220px;
}

.thumbnails-gfinity() {
    background-position: 0 -275px;
}

.thumbnails-gpl() {
    background-position: 0 -330px;
}

.thumbnails-iem() {
    background-position: 0 -385px;
}

.thumbnails-ign() {
    background-position: 0 -440px;
}

.thumbnails-lcs-eu() {
    background-position: 0 -495px;
}

.thumbnails-lcs-na() {
    background-position: 0 -550px;
}

.thumbnails-lcs() {
    background-position: 0 -605px;
}

.thumbnails-lone-star-clash() {
    background-position: 0 -660px;
}

.thumbnails-lpl() {
    background-position: 0 -715px;
}

.thumbnails-mlg() {
    background-position: 0 -770px;
}

.thumbnails-mobafire() {
    background-position: 0 -825px;
}

.thumbnails-nlb() {
    background-position: 0 -880px;
}

.thumbnails-ogn() {
    background-position: 0 -935px;
}

.thumbnails-starswar() {
    background-position: 0 -990px;
}

.thumbnails-tales() {
    background-position: 0 -1045px;
}

.thumbnails-wcs2() {
    background-position: 0 -1100px;
}

.thumbnails-wcs3() {
    background-position: 0 -1155px;
} 
